.p-article--single{
    .p-postdate{
        margin:20px 0;
    }
    .wp-block-heading{
        margin:3% 0;
    }

    p{
        margin:3% 0;
        line-height: 2;
        display:inline-block;
        
        .alignleft{
            margin-right: 10px;
        }

    }
}