@use "../../foundation/f-variables" as v;
/*sp*/
.p-card--blog{
    display:grid;
    grid-column: auto;
    grid-row: auto;
    max-width: 1024px;
    gap:30px;
    margin-bottom:30px;
    

    .c-card--article{
        max-width:500px;
        background-color: v.$color-paleblue;
        padding:30px;
        box-shadow: 2px 2px 10px v.$color-darkblue;
        display: flex;
        flex-direction: column;

        .post-categories{
            padding:5px 0;
        }

        .post-categories,p{
            font-weight: 400;
        }
    
        .c-button{
            align-items: center;
            margin: 20px 0;
        }
    }
    
}

/*tab*/
@include v.tab{
    .p-card--blog{
        grid-template-columns: repeat(3,minmax(160px,1fr));
    }
}

/*pc*/
@include v.pc{
    .p-card--blog{
        grid-template-columns: repeat(3,minmax(240px,1fr));
    }
}
