@use "../../foundation/f-variables" as v;

.swiper-wrapper{
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        
        a{
            img{
                display: block;
                width: 308px;
                height: 231px;
                object-fit: cover;
            }
        }
        
    }
}


